/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
/* 전역적으로 모든 요소에 트랜지션 효과 적용 */
*,
*:before,
*:after {
  transition: ease-in-out 0.15s; /* 여기는 트랜지션 지속 시간입니다. 필요에 따라 조절 가능합니다. */
}
.fa,
.fas,
.far,
.fal,
.fad,
.fab,
.fa:before,
.fas:before,
.far:before,
.fal:before,
.fad:before,
.fab:before {
  transition: none;
}

table th {
  white-space: nowrap;
}
.table-container {
  overflow-x: auto;
}
@layer components {
  .btn {
    @apply py-1 px-3 text-base rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }
  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600 focus:ring-blue-400;
  }
  .btn-detail {
    @apply py-1 px-2 bg-gray-400 text-white hover:bg-gray-500 focus:ring-gray-600;
  }
  .btn-outline-primary {
    @apply border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white focus:ring-blue-400;
  }
  .btn-danger {
    @apply bg-red-500 text-white hover:bg-red-600 focus:ring-red-400;
  }
  .btn-sm {
    padding: 5px 10px; /* 상하 패딩 5px, 좌우 패딩 10px */
    font-size: 0.875rem; /* 폰트 크기 */
    line-height: 1.5; /* 줄 높이 */
    cursor: pointer; /* 커서 스타일 */
  }
}
